 ![png](Books.png)

In [1]:
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
from sqlalchemy import create_engine

In [3]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:root@localhost/books"

In [8]:
connectionObject   = pymysql.connect(connection)

TypeError: __init__() takes 1 positional argument but 2 were given

In [7]:
cursorObject = connection.cursor()

AttributeError: 'str' object has no attribute 'cursor'

In [4]:
engine = create_engine(connection)
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [13]:
CREATE DATABASE books;

SyntaxError: invalid syntax (2563939943.py, line 1)

In [10]:
USE books;

SyntaxError: invalid syntax (3126201783.py, line 1)

In [5]:
CREATE TABLE users
(id INT PRIMARY KEY AUTO_INCREMENT,
first_name VARCHAR(45),
last_name VARCHAR(45),
email VARCHAR(45));

SyntaxError: invalid syntax (1438586130.py, line 1)

In [14]:
LOAD DATA INFILE 'users.csv'
INTO TABLE users
FIELDS TERMINATED BY ','
IGNORE 1 ROWS;

SyntaxError: invalid syntax (720550931.py, line 1)

In [ ]:
CREATE TABLE authors
(id INT PRIMARY KEY AUTO_INCREMENT,
author_name VARCHAR(45));

In [ ]:
LOAD DATA INFILE 'authors.csv'
INTO TABLE authors
FIELDS TERMINATED BY ','
IGNORE 1 ROWS;

In [ ]:
CREATE TABLE books
(id INT PRIMARY KEY AUTO_INCREMENT,
title VARCHAR(45),
FOREIGN KEY (author_id) REFERENCES authors(id));

In [ ]:
LOAD DATA INFILE 'books.csv'
INTO TABLE books
FIELDS TERMINATED BY ','
IGNORE 1 ROWS;

In [ ]:
CREATE TABLE favorites
(FOREIGN KEY (user_id, book_id) REFERENCES users(id), books(id));

In [ ]:
LOAD DATA INFILE 'favorites.csv'
INTO TABLE favorites
FIELDS TERMINATED BY ','
IGNORE 1 ROWS;

In [ ]:
SHOW TABLES

In [ ]:
SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));